.container {
  width: 500px;
  margin: 0 auto; /* Center the container */
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

/* Results Section Styles */
#results {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

/* Weight Guide Section Styles */
#weight-guide {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

p {
  margin-bottom: 0.5rem;
}
